{{template "backstage/backstagebase.html" .}}
{{define "bread"}}
	<div class="row">
		<div class="col-lg-12">
			<ol style="background-color: #dcdcdc" class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="index.html">HOME</a></li>
				<li><i class="fa fa-bars"></i>BANNER</li>
				<li><i class="fa fa-reorder"></i>BANNER{{.Id}}</li>
			</ol>
		</div>
	</div>
{{end}}
{{define "body"}}
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<div class="art-content">
							<div class="row">
								<div class="col-md-8">
									<h3 style="text-align: center">Edit Banner{{.Id}}</h3><br>
									{{if .flash.error}}
						   				<h5 class="error">提示:{{.flash.error}}</h5>
						    		{{end}}
														{{if .banner}}
									<form name="form1" id="form1" method="post" action="/updateBanner" enctype="multipart/form-data">
									<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control input-lg" name="title" id="title" placeholder="Title" value="{{.banner.Title}}" required="required" />
													<input type="text" class="form-control input-lg" name="id" id="id" style="display:none" value="{{.banner.Id}}" />
												</div>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control input-lg" name="subtitle" id="subtitle" placeholder="Subtitle" value="{{.banner.Subtitle}}" required="required" />
												</div>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control input-lg" name="url" id="url" placeholder="Url" value="{{.banner.Url}}" required="required" />						
												</div>
											</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<a id="imgurl" style="display:none">{{.banner.Imgurl}}</a>
											    <input id="file-0a" placeholder="Images" name="images" class="file" type="file"  multiple data-max-file-count="1">
											</div>		
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">					
											<button type="submit" class="btn btn-primary" name="submitcontact" id="submitcontact" style="width:100%">Submit</button>
										</div>
									</div>
									</form>
									{{else}}
									<h5 class="error">提示:未找到对应的Banner记录。</h5>
									{{end}}
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
<script>
$("#file-0a").fileinput({
		showUpload: false,
		allowedFileExtensions : ['jpg', 'png','gif'],
		initialPreviewAsData: true,  
        initialPreviewFileType: 'image',  
		initialPreview: $("#imgurl").text(),
	});

</script>
{{end}}
