{{template "backstage/backstagebase.html" .}}
{{define "bread"}}
	<div class="row">
		<div class="col-lg-12">
			<ol style="background-color: #dcdcdc" class="breadcrumb">
				<li><i class="fa fa-home"></i><a href="index.html">HOME</a></li>
				<li><i class="fa fa-bars"></i>BLOG</li>
				<li><i class="fa fa-reorder"></i>LIST</li>
			</ol>
		</div>
	</div>
{{end}}
{{define "body"}}
<table class="table table-bordered">
	{{if .flash.error}}
		<h5 class="error">提示:{{.flash.error}}</h5>
	{{end}}
	<thead>
		<tr>
			<th>INDEX</th>
			<th>TITLE</th>
			<th>AUTHOR</th>
			<th>KEYWORDS</th>
			<th>SUBJECT</th>
			<th>INTRODUCTION</th>
			<th>STATUS</th>
			<th>CATALOG</th>
			<th>TYPE</th>
			<th>CREATEDATE</th>
			<th>LASTUPDATE</th>
			<th>OPERATION</th>
		</tr>
	</thead>
	<tbody>
	{{range $index, $elem := .List}}
		<tr>
			<td>{{$index}}</td>
			<td>{{$elem.Title}}</td>
			<td>{{$elem.Auth}}</td>
			<td>{{$elem.Keywords}}</td>
			<td>{{$elem.Subject}}</td>
			<td>{{$elem.Introduction}}</td>
			<td>{{$elem.Status}}</td>
			<td>{{$elem.Catalogid}}</td>
			<td>{{$elem.Type}}</td>
			<td>{{$elem.Createtime}}</td>
			<td>{{$elem.Lastupdate}}</td>
			<td>
                <div class="btn-group">
					<a class="btn btn-primary" href="{{$elem.LookURL}}"><i class="icon_search"></i></a>
                    <a class="btn btn-primary" href="{{$elem.EditURL}}"><i class="icon_pencil-edit"></i></a>
                    <a class="btn btn-danger" href="{{$elem.DeleteURL}}"><i class="icon_close_alt2"></i></a>
				</div>
            </td>

		</tr>
	{{end}}
	</tbody>
</table>
<ul class="pagination">
	{{if .Pagination.HasPrev}}
	<li><a href="{{.Pagination.PrevURL}}">&laquo;</a></li>
	{{else}}
	<li class="disabled"><span>&laquo;</span></li>
	{{end}}
	{{range .Pagination.Items}}
	{{if .Active}}
	<li class="active"><span>{{.Num}}</span></li>
	{{else}}
	<li><a href="{{.URL}}">{{.Num}}</a></li>
	{{end}}
	{{end}}
	{{if .Pagination.HasNext}}
	<li><a href="{{.Pagination.NextURL}}">&raquo;</a></li>
	{{else}}
	<li class="disabled"><span>&raquo;</span></li>
	{{end}}
</ul>
{{end}}
